<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='catatan.css')}}">
    <title>Catatan Perjalanan</title>
</head>
<body>
    <header>
        {%include "header.html"%}
    </header>
    <div class="container-catatan">
        <div class="urutkan">
        <h4>Urutkan Berdasarkan Tanggal : 
        <select id="urut" onclick="urutkan(this)" style="margin-left: 5px; margin-right: 5px;">
            <option value="0">Tanggal</option>
            <option value="1">Waktu</option>
            <option value="2">Lokasi</option>
            <option value="3">Suhu</option>
        </select>
        </h4>
    </div>
    <div class="table-data">
        <table align="center" border="1" width="95%" style="border-style:solid" id="myTable">
            <thead>
                <tr>
                    <th style="width:18%">Tanggal</th>
                    <th style="width:15%">Waktu</th>
                    <th style="width:30%">Lokasi Yang Dikunjungi</th>
                    <th style="width:15%">Suhu Tubuh</th>
				</tr>
            </thead>

            
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td>{{item[3]}}</td>
                    
                </tr>
                {% endfor %}

                {% for category, message in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show mt-3" role="alert" style="color: red; text-align: center; margin: 20px;">
                      {{ message }} <a href="{{url_for('isi_data')}}" style="margin-right:10px">Silakan Isi Data!</a>
                    </div>
                {% endfor %}
            </tbody>
            
                    
                    
        </table>
    </div>
    </div>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    
</body>
</html>


