<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link rel="stylesheet" href="{{url_for('static', filename='header.css')}}">
</head>
<body>
    <div class="container">
        <div class="gambar">
            <img src="{{url_for('static', filename='image/person.png')}}" alt="person.png" width="200">
        </div>
        
        <div class="content">
            <h1>PEDULI DIRI</h1>
            <h3>Catatan Perjalanan</h3>

            <table>
                <th><a href="{{url_for('home')}}" >Home</a></th>
                <th>&ensp;|&ensp;</th>
                <th><a href="{{url_for('catatan_perjalanan')}}">Catatan Perjalanan</a></th>
                <th>&ensp;|&ensp;</th>
                <th><a href="{{url_for('isi_data')}}">Isi Data</a></th>
                <th>&ensp;|&ensp;</th>
                <th><a id="logout" href="{{url_for('logout')}}">Logout</a></th>
            </table>
        </div>
    </div>
</body>
</html>