<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <title>Home</title>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <div class="container">
        <div class="welcome">
            <h4>Selamat Datang <u style="background-color:rgb(51, 255, 0); padding:5px; border:0px; border-radius: 15px;">{% print(session['username']) %}</u> User Di Aplikasi Peduli Lindungi</h4>
        </div>        
    </div>
    
</body>
</html>